@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-principal: hsl(234, 29%, 20%);
  --color-secundario: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --tomato: hsl(4, 100%, 67%);
  --tomato-light: hsl(4, 100%, 95%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: var(--color-principal);
  color: var(--color-principal);
  position: relative;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.front-container {
  background: white;
  position: absolute;
  width: 60%;
  height: 80vh;
  left: 20%;
  top: 5vh;
  border-radius: 25px;
  padding: 1em 1em;
  display: flex; }
  .front-container .sign-up-text {
    padding: 4em 3em; }
    .front-container .sign-up-text h1 {
      font-size: 3rem; }
    .front-container .sign-up-text p {
      padding: 1em 0em;
      font-size: 14px;
      width: 90%; }
    .front-container .sign-up-text .list {
      font-size: 14px;
      margin: .75em 0em; }
      .front-container .sign-up-text .list ul {
        list-style-image: url("assets/images/icon-list.svg"); }
        .front-container .sign-up-text .list ul li {
          padding-bottom: 5px;
          margin-left: 2em;
          padding-left: .7em;
          line-height: 1.5em; }
    .front-container .sign-up-text .form label {
      padding-bottom: 0em;
      display: flex;
      width: 90%;
      justify-content: space-between;
      height: 1.5em;
      font-size: 13px;
      font-weight: 700; }
      .front-container .sign-up-text .form label .invalid-email {
        width: fit-content;
        color: var(--tomato);
        visibility: hidden; }
    .front-container .sign-up-text .form #email {
      width: 90%;
      height: 3em;
      border-radius: 5px;
      margin-bottom: 1em;
      padding: 0 1em;
      border: .5px solid gray; }
    .front-container .sign-up-text .form #sub-btn {
      width: 90%;
      height: 3em;
      border-radius: 5px;
      background: var(--color-principal);
      color: white;
      font-weight: bold;
      cursor: pointer;
      border: none; }
  .front-container .sign-up-img {
    height: 100%;
    width: 50%;
    background-image: url("assets/images/illustration-sign-up-desktop.svg");
    background-repeat: no-repeat;
    border-radius: 15px; }

.visible {
  visibility: visible !important; }

.invalid-box {
  background-color: var(--tomato-light);
  border-color: var(--tomato);
  color: var(--tomato) !important; }

.back-container {
  background: white;
  position: absolute;
  width: 28%;
  height: 60vh;
  left: 36%;
  top: 18vh;
  border-radius: 25px;
  padding: 3em;
  display: none; }
  .back-container img {
    width: 3em;
    height: 3em;
    margin-bottom: 1.5em; }
  .back-container h1 {
    font-size: 2.5em; }
  .back-container p {
    margin: 1.5em 0em;
    font-size: 12px;
    line-height: 18px; }
    .back-container p span {
      font-weight: bold; }
  .back-container button {
    width: 100%;
    background-color: var(--color-secundario);
    color: white;
    height: 3em;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer; }

@media (max-width: 1024px) {
  .front-container .sign-up-text {
    width: 50%; }
    .front-container .sign-up-text .form label {
      height: 2.5em; }
      .front-container .sign-up-text .form label .invalid-email {
        padding-left: 3.5em;
        text-align: center; } }
@media (max-width: 375px) {
  .front-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    border-radius: 0;
    padding: 0; }
    .front-container .sign-up-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: .5em;
      width: 100%;
      height: 75vh; }
      .front-container .sign-up-text h1 {
        font-size: 2em; }
      .front-container .sign-up-text .form {
        padding-left: 2.5em; }
    .front-container .sign-up-img {
      background-image: url("assets/images/illustration-sign-up-mobile.svg");
      height: 25vh;
      width: 100%; }

  .back-container {
    background: white;
    position: absolute;
    width: 98%;
    height: 60vh;
    left: .3em;
    top: 18vh;
    border-radius: 25px;
    padding: 1em;
    display: none; } }

/*# sourceMappingURL=main.css.map */
