@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
   --color-principal: hsl(234, 29%, 20%);
   --color-secundario: hsl(235, 18%, 26%);
   --Grey: hsl(231, 7%, 60%);
   --Tomato: hsl(4, 100%, 67%);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: var(--color-principal);
   color: var(--color-principal);
   position: relative;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
}
.front-container{
   background: white;
   position: absolute;
   width:60%;
   height: 80vh;
   left: 20%;
   top: 5vh;
   border-radius: 25px;
   padding: 1em 1em;
   display: flex;

   .sign-up-text{
      padding: 4.5em 3em;
      h1{
         font-size: 3rem;
      }
      p{
         padding: 1em 0em;
         font-size: 14px;
         width: 90%;
      }
      .list{
         font-size: 14px;
         ul{
            li{
               list-style-image: url("assets/images/icon-list.svg");
               padding-bottom: 5px;
               margin-left: 2em;
               padding-left: .7em;
            }
         }
      }
      .form{
         p{
            padding-bottom: 0;
         }
         .email-box{
            width: 90%;
            height: 3em;
            border-radius: 5px;
            margin-bottom: 1em;
            padding: 0 1em;
         }
         button{
            width: 90%;
            height: 3em;
            border-radius: 5px;
            background: var(--color-principal);
            color: white;
         }
      }
   }
   .sign-up-img{
      img{
         height: 75vh;
      }
   }
}
.back-container{
   position: absolute;
   display: none;
}